*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
/* .container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    background-color: rgb(0, 0, 0);
    border-left: 6px solid #9a7c44;
    border-right: 6px solid #9a7c44;
    color: white;
} */
h3 {
    text-transform: uppercase;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 28px;
/* identical to box height */
    letter-spacing: 0.75px;
    margin: 0;
}
span {
    font-family: Inter;
}
.dashboard_title {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.45);
    margin: 0;
}
i {
    margin-right: .9em;
}
a,
.active {
    text-decoration: none;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    color: #FFFFFF;
}
a,
.inactive {
    text-decoration: none;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.5);
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 45px;
}
p {
    margin: 0;
    padding: 0;
    font-family: Inter;
    line-height: 15px;
}
.grey_text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.859533px;
    color: rgba(255, 255, 255, 0.5);
}
select {
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    color: rgba(0, 0, 0, 0.45);
}
.sidebar {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    float: left;
    height: 100%;
    max-width: 15em;
    margin: 0;
    padding: .5em;
    background-color: #0061F7;
    color: #FFFFFF;
}
@media (max-width: 600px) {
    .sidebar {
        position: absolute;
        display: flex;
        flex-direction: column;
        float: left;
        height: 100%;
        max-width: 15em;
        margin: 0;
        padding: .5em;
        background-color: #0061F7;
        color: #FFFFFF;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.45);
        transition: .15s;
        z-index: 10;
    }

    .disabled {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -200px;
        float: left;
        height: 100%;
        max-width: 15em;
        margin: 0;
        padding: .5em;
        background-color: #0061F7;
        color: #FFFFFF;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.45);
        transition: .15s;
        z-index: 10;

    }
    .sidebar_disabled {
        position: relative;
        width: 3em;
        height: 3em;
        border-radius: 2em;
        left: 90%;
        top: 120%;
        background-color: #0061F7;
        /* box-shadow: 5px 0px 10px $grey_text; */
        cursor: pointer;
        z-index: 20;
    }

}
.sidebar_header {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}
.sidebar_comments {
    position: relative;
}
.sidebar_comments:after {
        content: '\f111';
        /* display: none; Если нет уведомленй */
        display: block;
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #F26464;
        left: 125%;
        transform: translateY(-114.5%);
    }
.sidebar_user {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: .3em;
}
.user_info {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: .3em;
}
.avatar_ellipse {
    position: relative;
    align-self: center;
    background-color: #EFF0F6;
    margin: .3em;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.avatar_ellipse:after {
        content: '\f111';
        display: block;
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        color: green;
        left: 60%;
		transform: translateY(-20%);
    }
.dashboard_header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: .7em;
}
.dashboard_header::after {
        content: '\f002';
        display: block;
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        margin-left: .4em;
        color: rgba(0, 0, 0, 0.45); 
        transform: translateY(88%);
    }
.dashboard_input {
    border: none;
    border-radius: 5px;
    background-color: #EFF0F6;
    color: rgba(0, 0, 0, 0.45);
    padding-left: 1.85em;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
/* identical to box height, or 243% */
}
.header_items_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15em;
}
.nots_ellipse,
.light_ellipse {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #EFF0F6;
    padding: 0;
    margin: 0;
}
.fa-sun,
.fa-bell {
    font-size: 1.7em;
    margin-left: .36em;
    color: rgba(0, 0, 0, 0.45);
}
.nots_ellipse::after {
    content: '\f111';
     /* display: none; Если нет уведомленй */
    display: block;
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-size: .7em;
    font-weight: 700;
    color: #F26464;
    left: 55%;
    transform: translateY(-25%);
}
.dashboard_title_wrapper {
    display: flex;
    justify-content: space-between;
}
.dashboard_main {
    display: grid;
    padding: .7em;
    background-color: #EFF0F6
}
.stats {
    align-self: center;
    justify-self: center;
    place-self: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 3.5em;
}
@media (max-width: 350px) {
    .dashboard_main {
        display: grid;
        padding: .1em;
        background-color: #EFF0F6
    }
    .stats {
        align-self: center;
        justify-self: center;
        place-self: center;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: .1em;
    }
    .dashboard_input {
        max-width: 7em;
    }
    .stats_item {
        /* width: 3em;
        height: 2em; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* border: 2px solid $grey_text; */
        padding: .1em;
        border-radius: 10px;
        background-color: #FFFFFF
    }
}
.stats_nums_wrapper {
    display: flex;
    align-items: right;
    flex-direction: column;
    margin-left: .8em;
}
.stats_item {
    /* width: 3em;
    height: 2em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid $grey_text; */
    padding: .6em;
    border-radius: 10px;
    background-color: #FFFFFF
}
.stats_percent {
    align-self: center;
    font-family: Inter;
    font-style: normal;
    font-size: .8em;
    line-height: 28px;
/* identical to box height */
    letter-spacing: 0.75px;
    margin: 0;
}
/* Меняется в зависимости от падения или повышения числа */
.percent_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(0, 0, 0, 0.45);
}
.increase {
    padding: .2em;
    margin: 0;
    align-self: center;
    transform: rotate(-35deg);
    color: green;
}
.decrease {
    padding: .2em;
    margin: 0;
    align-self: center;
    transform: rotate(35deg);
    color: #F26464;
}
.stats_ellipse {
    position: relative;
    align-self: center;
    background-color: #EFF0F6;
    margin: .3em;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.stats_ellipse:after {
        /* content: '\f111';
        display: block;
        position: absolute;
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        color: green;
        left: 60%;
		transform: translateY(-20%); */
    }
.stats_total: {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: .9em;
    line-height: 30px;
/* identical to box height */
    letter-spacing: 0.75px;
}








