.table_wrapper {
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 1em;
    border-radius: .5em;
    width: 100%;
    /* height: 200px */
}

table {
    white-space: nowrap;
    border-radius: .5em;
    /* background-color: $white;  */
    color: $grey_text;
    width: 100%;
}

th {
    text-align: left;
    padding: .4em;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.3px;
    border-radius: .4em;
    /* border-bottom: 2px solid $grey_bg; */
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    /* text-overflow: ellipsis; */
} 
tr {
    background-color: $white;
}

.row_head {
    background-color: $grey_bg;
    border-color: $grey_bg;
}

.table_action {
   
}

@media (max-width: 600px) {
    .table_wrapper {
        overflow-x: auto;
        overflow-y: auto;
        margin-top: .5em;
        border-radius: .5em;
        width: 100%;
        height: 200px
    }

    table {
        margin-top: .5em;
        border-radius: .5em;
        font-family: inter;
        /* background-color: $white;  */
        color: $grey_text;
        width: 100%;
    }
}